* {
	margin: 0;
	padding: 0;
}
body {
	background: rgba(212,228,239,6);
}

/* Header Start */
header {
	margin-top: 50px;
}
.container {
	width: 90%;
	margin: 0 auto;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.7);
	overflow: hidden;
	background-color: white;
}
.logo {
	width: 20%;
	float: left;
	margin: 10px 10px;
}
.logo img {
	width: 100%;
}
.menu {
	width: 75%;
	float: right;
	margin-top: 30px;
}
.menu ul {
	list-style: none;
	float: right;
}
.menu ul li {
	float: left;
}
.menu ul li a {
	text-decoration: none;
	padding: 0 30px 0 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	display: block;
	color: grey;
	transition: .5s ease;
}
.menu ul li a:hover {
	color: black;
}
/* Header End */

/* Banner Start */
.banner {
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	border: .5px solid;
	background-image: url(../images/banner.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
}
.banner_content {
	margin: 80px 0 150px 0;
	width: 35%;
	background-color:rgba(60, 60, 60, 0.7);
}
.text_container {
	width: 75%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 20px;
}
.banner_content h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	line-height: 1.5;
	color: white;
	font-weight: 300;
}
.banner_content p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 10px;
	font-weight: 300;
}
.banner_content button {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.5);
	background-color:rgba(60, 60, 60, 0.9);
	border-style: hidden;
	padding: 9px 30px 9px 30px;
	margin-top: 30px;
	transition: .5s ease;
}
.banner_content button:hover {
	color: white;
}
/* Banner End */

/* Service Start */
.service {
	background-color: white;
}
.service_container {
	width: 90%;
	margin: 0 auto;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.7);
	background-color: white;
}
.service_wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.service_content {
	width: 30%;
	margin: 0 0 0 25px;
	float: left;
	text-align: center;
}
.service_content h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #74705D;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
.service_content img {
	width: 70%;
	margin: 0 auto;
}
.service_content p {
	width: 80%;
	margin: 20px auto;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 300;
	text-align: center;
}
.service_content button {
	width: 20%;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	text-align: center;
	color: white;
	background-color: #455566;
	border-radius: 3px;
	border-style: hidden;
	padding: 5px 10px 5px 10px;
	margin: 0 auto;
	transition: .5 ease;
}
.service_content button:hover {
	color: #455566;
	background-color: white;
}
/* Service End */

/* Footer Start */
.footer_container {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
}
.footer_top {
	text-align: center;
	margin-top: 100px;
}
.footer_top p {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
.footer_top p:last-child {
	padding-top: 10px;
}
.footer_bottom {
	width: 100%;
	margin: 20px auto;
	margin-bottom: 100px;
}
.footer_social {
	width: 30%;
	margin: 0 auto;
}
.footer_social a {
	width: 25%;
	margin: 0 auto;
	float: left;
}
.footer_social img {
	width: 70%;
	float: right
}
/* Footer End */